.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

@keyframes loading {
  0%{ transform: scale(1); opacity: 0.5; }
  50% { transform: scale(1.15); opacity: 1.0;}
  100% { transform: scale(1); opacity: 0.5; }
}

.loading span {
  display: inline-block;
  animation: loading 2.4s infinite;
}

/* Apply animation delays in a loop-like pattern */
.loading span:nth-child(1) { animation-delay: 0.1s; }
.loading span:nth-child(2) { animation-delay: 0.2s; }
.loading span:nth-child(3) { animation-delay: 0.3s; }
.loading span:nth-child(4) { animation-delay: 0.4s; }
.loading span:nth-child(5) { animation-delay: 0.5s; }
.loading span:nth-child(6) { animation-delay: 0.6s; }
.loading span:nth-child(7) { animation-delay: 0.7s; }
.loading span:nth-child(8) { animation-delay: 0.8s; }


@keyframes loading-basic {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.loading-basic span {
  animation-name: loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.loading-basic span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-basic span:nth-child(3) {
  animation-delay: 0.4s;
}

.popover-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.outline-menu {
  border: 1px solid #ccc; /* Example border style */
  background-color: transparent;
}

.outline-item {
  border: 1px solid #ccc; /* Example border style for items */
  background-color: transparent;
}